@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
    padding: 10px 0;
  }

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    
    height: 80%;
}

.nav_bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav_bar li {
    margin: 50px;
    text-align: center;
}

.nav_bar a {
    color: black;
    font-weight: bold;
    font-size: 2.1em;
    transition: color 0.3s ease;
}

.nav_bar a:hover {
    color: #ced4cc;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
.home_main_content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh; /* Ensure the container takes the full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

/* Left container: takes 50% of the width and is vertically centered */
.home_main_content_left {
    width: 50%;          /* occupy 50% width */
    position: sticky;       /* enable sticky positioning */
    top: 40%;               /* position relative to the viewport */
    transform: translateY(-50%); /* adjust to truly center vertically */
    display: flex;          /* use flex for centering content inside */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
  }
  
/* Right container: takes the other 50% and is scrollable */
.home_main_content_right {
    width: 50%;             
    height: 100vh;         
    overflow-y: scroll;      
    padding: 20px;   
    background-color: #007bff;
           
}

.main_content {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_content_header{  
    align-items: center;
    margin-bottom: 20px;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
}

.main_content_text {
    margin-bottom: 5px;
    text-align: center;
}

ul.subpoints {
    margin-left: 40px; 
    list-style-type: disc; 
    width: 90%;
}

.footer {
    text-align: center;
    padding: 20px;
    color: black;
    margin-top: 20px;
}

.disclaimer {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-weight: 400;
}