<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <title>My Projects!</title>
</head>
<body class="projects">
    <header>

        <nav class="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/web_journey">Web Journey</a></li>
            </ul>
        </nav>
    
    </header>

    <div class="main_content">   

        <div class="disclaimer">
            <h3>Some personal projects. Will update more if I can recall what I did 😭</h3>
        </div>
        
        <div class = "main_content_text">
        {% for project in projects %}
            <div class="project">
                <h2>{{ project.title }}</h2>
                <img src="{{ project.image }}" alt="{{ project.title }}" style="width: 200px; height: 200px;">
                <h3 style="text-align: center;">{{ project.description }}</h3>
                <ul>
                    {% for point in project.points %}
                        <li>{{ point }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ project.url }}">Learn more</a>
            </div>
        {% endfor %}
        </div>
    </div>
    
</body>

<footer>
    <div class="footer">
        <p>Proudly created by Isaac</p>&copy; 2025
    </div>
</footer>
</html>
